@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-background {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 1);
  z-index: 99;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-height: 80vh;
  overflow-y: auto;
}
